.jumbotron {
    text-align: center;
    background-color: rgb(60, 60, 201);
    color: #fff;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
#searchTitle{
  text-align:left;
  margin-left:-40px
}
#submitBtn{
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    width: 300px;
    border-bottom-right-radius: 15px;
    background-color: #382bf3;
    color: white;
    margin-left: -60px;
  }
  
#submitBtn:hover{
    background-color: #547ff5;
  }
  
#submitBtn:active{
    background-color: #547ff5; 
  }
#history:hover{
  background-color: cadetblue;
}
#history{
    color: white;
    background-color: rgb(192, 194, 192);
    text-align: left;
    margin-left: -40px;
    width: 300px;
  }

#city-inputs{
  margin-left: -60px;
  width: 300px;
}
#uvi{
  display:inline;
}
.card{
    height: 25vh;
    width: 22vh;
    background-color: rgb(51, 52, 80);
    text-align: left;
    justify-content: space-between;
}
#forecast{
  margin-top: 20px;
  margin-left: 26%;
}
.card-body{
    color:white;
    font-size: small;
    margin-top:-15px;
}
#pickedcard{
  float: right;
  position:relative;
  background-color: #fff;
  margin-left: 35%;
  margin-top: -95px;
}
#pickedbody{
  color: black;
}
#date{
  text-align:right;
}

#fiveday{
  font-weight: bold;
  margin-top: 17px;
  text-align:center;
}
